
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.title-splash {
  font-size: 2rem;
  color: black;
  font-weight: bold;
}
.btn-main1 {
  background: rgba(255, 255, 255, 0.44);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 9px;
  color: rgba(4, 56, 227, 0.9) !important;;
  height: 2.5rem !important;
  width: 10rem;
  margin-top: 1rem;
  margin-bottom: 1rem;

}


.card-user{
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 50vw;
}
.detail{
  font-size: 2rem;
  color:;
  font-weight: bold;
}

@media (max-width: 985px) {
  .card-user{
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

:where(.drawer-form).ant-drawer .ant-drawer-content{
  background: rgb(255,255,255) !important;
  background: rgb(249, 249, 121) !important;
  backdrop-filter: blur(5px) !important;
  -webkit-backdrop-filter: blur(5px) !important;
  
}

.fieldForm{
  height: 2.5rem !important;
  font-size: 1rem !important;
}

:where(.select_filter).ant-select:not(.ant-select-customize-input) .ant-select-selector{
  min-height: 2.5rem !important;
  align-items: center !important;
  max-height: auto !important;
}
.ant-select-show-search:where(.select_filter).ant-select:not(.ant-select-customize-input) .ant-select-selector input {
  align-self: center !important;
  justify-self: center !important;
  height: 100% !important;
}

.ant-table-thead .ant-table-cell {
  background-color: rgb(249, 249, 121) !important;
}
:where(.table-main).ant-table-wrapper .ant-table-tbody >tr >th, :where(.table-main).ant-table-wrapper .ant-table-tbody >tr >td{
  background: rgba(255, 255, 255, 0.44);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

:where(.table-main)[class^="ant-table"] [class^="ant-table"], :where(.table-main)[class*=" ant-table"] [class^="ant-table"], :where(.table-main)[class^="ant-table"] [class*=" ant-table"], :where(.table-main)[class*=" ant-table"] [class*=" ant-table"]{
  background-color: transparent;
}

.btn-main2{
  background: rgb(249, 249, 121) !important;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 9px;
  color: black;

}

.title-form{
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}

