body {
  margin: 0px !important;
}

.header {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(249, 249, 121);
}

.links{
  display: flex;
  justify-content: space-between;
  gap:1rem
}

.title-header{
  font-size: 1.5rem;
  font-weight: bold;
}

.item-navbar{
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
.item-navbar:hover{
  transform: scale(1.1);
}

.item-navbar-active{
  cursor: pointer;
  font-weight: bold;
}